# Copyright (c) 2022 Duccio Breschi
# SPDX-License-Identifier: MIT

config SHIELD_OPENWORK_LEFT
    def_bool $(shields_list_contains,openwork_left)

config SHIELD_OPENWORK_RIGHT
    def_bool $(shields_list_contains,openwork_right)

